@import "tailwindcss";
@plugin "daisyui" {
  	themes: all;
}

/* Ajout de tes variables custom */
@theme {
	--color-grey: #2E343C;
}

body, html {
    overscroll-behavior: none;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

* {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.editor-preview {
	display: flex;
	height: calc(100vh - 64px);
}

.editor,
.preview {
	flex: 1;
	display: flex;
	flex-direction: column;
}