@import "tailwindcss";
@plugin "daisyui" {
  	themes: all;
}

body, html {
    overscroll-behavior: none;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

* {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.editor-preview {
	display: flex;
	height: calc(100vh - 64px);
}

.editor,
.preview {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.modal {
	display: flex !important;
	align-items: center;
	justify-content: center;
}
